$font_main: 'Proxima Nova', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

$color_black: #262c40;
$color_white: #ffffff;
$color_gray_dark: #8189a3;
$color_purple_light: #d4defe;
$color_purple_dark: #432eab;

$max_content_width: 1280px;
$min_content_width: 400px;

$gap_xl: 40px;
$gap_l: 32px;
$gap_m: 24px;
$gap_s: 14px;
$gap_xs: 12px;
